:root
      {
         --studentcolor1:#2A0869;
         --studentcolor2:#9130D8;
      }
body
{
    background: var(--studentcolor1);
    color:white;
}
.title h1
{
    color: white;
}
::-webkit-scrollbar-thumb
{
   background-color: var(--studentcolor2);
}
nav
{
   background: var(--studentcolor2);
}
.menus a
{
   background: var(--studentcolor2);
}
.nav-menu a:hover
{
   color: var(--studentcolor2);
}
.menus a::after
{
  background: var(--studentcolor2);
}
.menus a::before
{
  background: var(--studentcolor2);
}
.menus
{
   background: var(--studentcolor2);
}
.menus a:hover
{
   background: white;
   color:var(--studentcolor2);
}
.menus::after
{
  box-shadow:  -10px -10px 0 var(--studentcolor2);
}
.menus .active-menu
{
   color: var(--studentcolor2);
}
.title a
{
   border: 3px solid var(--studentcolor2);
   color: var(--studentcolor2);
}
.title a:hover
{
   background: var(--studentcolor2);
}
.title .question
{
   color: var(--studentcolor2);
}
.title #question-box
{
   background: var(--studentcolor2);
}
.btn-outline-primary
{
   background: transparent !important;
   border: 2px solid var(--studentcolor2);
   color: var(--studentcolor2);
}
.btn-outline-primary:hover
{
   background: var(--studentcolor2) !important;
   border: 2px solid var(--studentcolor2);
   color: white;
}
.btn-outline-primary:active
{
   background: var(--studentcolor2) !important;
   border: 2px solid white !important;
   color: white;
}
.form-control
{
   outline: 2px solid var(--studentcolor2);
}



/*Students*/




.students
{
   display:flex;
   gap: 5px;
   align-items: center;
   flex-wrap: wrap;
}
.student
{
   position: relative;
   scale: 0.95;
   user-select: none;
}
.student a
{
   position: relative;
}
.student a:hover .student-img
{
   top: 25%;
   border-radius: 45px;
   width: 150px;
   height: 150px;
   box-shadow: 0 0 10px  var(--studentcolor2),0 0 10px  var(--studentcolor2),0 0 10px 3px black;
}
.student a:hover .student-img img
{
   border-radius: 45px;
}
.student-inf
{
   color: white;
   padding: 10px;
   text-align: center;
   position: absolute;
   top: 82%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 100%;
   font-weight: bold;
   transition: 0.4s;
   display: flex;
   flex-direction: column;
   gap: 0;
}
.student-inf p
{
   text-decoration: underline;
   font-style: italic;
   font-size: 13px;
   color: rgb(170, 170, 170);
   height: 20px;
}
.student a:hover .student-inf
{
   top: 68.5%;
   gap: 4px;
}
.student-inf button
{
   width: 97%;
   border-radius: 14px;
   padding: 5px 0;
   background: var(--studentcolor2);
   color: white;
   font-size: 18px;
   font-weight: bold;
   text-shadow: 0 0 2px black,0 0 2px black;
   opacity: 0;
   transition: 0.4s;
   border: none;
   position: absolute;
   bottom: -51%;
   left: 50%;
   transform: translateX(-50%);
}
.student a:hover .student-inf button
{
   bottom: -37.5%;
   opacity: 1;
}
.student-inf button:hover
{
   background: #a03de7;
}
.student a:hover .student-banner-bg
{
   opacity: 0.5;
}
.student-banner-bg
{
   position: absolute;
   background: var(--studentcolor1);
   width: 100%;
   height: 100%;
   top: 0;
   opacity: 0.25;
   transition: 0.5s;
}
.student a:hover .student-card
{
   outline: 6px solid var(--studentcolor2);
}
.student-border
{
   height: 400px;
   position: relative;
   background: linear-gradient(to right,var(--studentcolor2) ,#511080,var(--studentcolor2));
   border-radius: 20px;
   padding: 5px;
   transition: 0.5s;
   overflow: hidden;
}
.student-card
{
   width: 100%;
   height: 100%;
   background: linear-gradient(to bottom, var(--studentcolor1) 50%,#511080);
   border-radius: 16px;
   overflow: hidden;
   position: relative;
   outline: 6px solid transparent;
   transition: 0.5s;
}
.student-card:active
{
   opacity: 0.8;
   transition: 0.25s;
}
.student-inf h3
{
   font-size: 24px;
   text-shadow: 0 0 1px white,0 0 1px white,0 0 1px white,0 0 1px white,0 0 1px white;
}
.student-inf span
{
   background-color: #63159b;
   box-shadow: 0 0 15px -5px black;
   border-radius: 12px;
   padding: 5px 12px;
   width: fit-content;
   margin: auto;
   height: 33px;
   width: 70px;
}
.student a:hover .student-nav
{
   height: 195px;
   padding: 0;
}
.student-nav
{
   width: 100%;
   height: 200px;
   background: linear-gradient(to right,var(--studentcolor2) ,var(--studentcolor1),var(--studentcolor2));
   padding-bottom: 5px;
   transition: 0.5s;
}
.student-banner
{
   width: 100%;
   height: 100%;
   position: relative;
}
.student-banner img
{
   width: 100%;
   height: 100%;
}
.student-img
{
   background: linear-gradient(to right,var(--studentcolor2) ,var(--studentcolor1),var(--studentcolor2));
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 110px;
   height: 110px;
   border-radius: 100%;
   overflow: hidden;
   padding: 4px;
   transition: 0.4s;
   box-shadow: 0 0 10px 3px black;
}
.student-img img
{
   width: 100%;
   height: 100%;
   border-radius: 100%;
   transition: 0.5s;
   background-color: #210753;
   object-fit: cover;
   object-position: center;
}
.students-detail .title h2
{
   color: white;
   font-size: 38px;
   font-weight: bold;
   text-shadow: 0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white;
   letter-spacing: 1px;
   opacity: 0;
   scale: 0;
   transition: 0.35s;
}
.students-detail .btn a
{
   border-radius: 50px;
   padding: 10px 20px;
   background: var(--studentcolor2);
   color: white;
   font-size: 20px;
   font-weight: bold;
   text-shadow: 0 0 1px white,0 0 2px white,0 0 2px white;
   letter-spacing: 1px;
   text-decoration: none;
   box-shadow:0 0 15px 5px #511080;
   transition: 0.35s;
   scale: 0.1;
   opacity: 0;
}
.students-detail .btn a:hover
{
   box-shadow:0 0 15px 5px #a03de7;
   background: #a03de7;
   font-size: 22px;
   padding: 12px 22px;
}
.students-detail .btn
{
   width: fit-content;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
}
.btn-secondary
{
   background: var(--studentcolor2) !important;
   border: 3px solid var(--studentcolor2) !important;
   border-radius: 15px !important;
}
.btn-secondary:active
{
   background: var(--studentcolor1) !important;
}
.dropdown-center
{
   width: 123px;
   max-width: 123px;
   min-width: 123px;
}
.dropdown-menu
{
   padding: 5px !important;
   border-radius: 18px !important;
   background: var(--studentcolor1) !important;
   box-shadow: 0 0 5px black;
   min-width: 123px !important;
   margin-top: 6px !important;
}
.add-student-class
{
   margin-top: 0 !important;
   margin-left: 6px !important;
   transition: 0.6s;
}
.dropdown-menu li:first-child a
{
   border-radius:15px 15px 0 0 !important;
}
.dropdown-menu li a
{
   border-radius:0 !important;
   border-bottom:0 !important;
   text-align:center;
   font-weight: bold;
   border: 3px solid var(--studentcolor2);
   color: var(--studentcolor2);
}
.dropdown-menu li:last-child a
{
   border-radius:0 0 15px 15px !important;
   border-bottom: 3px solid var(--studentcolor2) !important;
}
.dropdown-menu li a:active
{
   background: var(--studentcolor2) !important;
   color: white;
}
#class-settings
{
   position: absolute;
   transition: 0.5s;
   right: 8%;
   opacity: 0;
   display: flex;
   justify-content: center;
   pointer-events: none;
   color: var(--studentcolor2);
}
#class-settings a:hover
{
   color: white;
}
.dropdown-menu .dropdown-item
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
}
.dropdown-menu .dropdown-item i
{
   width: 20px;
}
.dropdown-menu .dropdown-item p
{
   width: 50px;
   height: 10px;
}